<%- include('../partials/adminHeader.ejs'); %>
<main>
  <h1>管理者ページ</h1>
  <!-- 機能一覧表示 -->
    <article>
      <h2>管理者機能一覧</h2>
      <div id="mypageList">
        <section>
          <h3><a href="/admin/carStocks">車両管理</a></h3>
        </section>
        <section>
          <h3><a href="/admin/users/1">会員管理</a></h3>
        </section>
        <section>
          <h3><a href="/admin/sales/1">売上管理</a></h3>
        </section>
        <section>
          <h3><a href="/admin/product/exhibit/1">出品管理</a></h3>
        </section>
      </div>
    </article>
</main>
<script>
  const info = JSON.parse('<%- JSON.stringify(ejsRender) %>');
  console.log(info);
</script>
<script type="text/javascript" src="/js/admin/top.js"></script>
<%- include('../partials/adminFooter.ejs'); %>
