<%- include('../partials/admin/adminHeader.ejs'); %>
<main>
  <h1>Sign in to your account</h1>
  <form action="/admin" method="POST">
      <label for="id">ID</label>
      <input name="id" autocomplete="email" />
      <label for="password">Password</label>
      <input name="password" autocomplete="current-password" />
      <label for="remember-me">remember-me</label>
      <input id="remember-me" name="remember-me" type="checkbox" />
      <button type="submit">Sign in</button>
    <section>
      <h2>Or Sign In with</h2>
      <ul>
        <li><button>Google</button></li>
        <li><button>Twitter</button></li>
      </ul>
    </section>
  </form>
</main>
<%- include('../partials/admin/adminFooter.ejs'); %>