<nav aria-label="Breadcrumb">
  <ul class="uk-breadcrumb">
    <li><a href="/">TOP</a></li>
    <li><a href="/bidding/1">入札ページ</a></li>
    <li><a href="/mypage">mypage</a></li>
    <li><a href="/product/1">商品詳細ページ</a></li>
  </ul>
</nav>
