<footer class="footerComponent">
  <p class="footerName">HAL車両販売</p>
  <ul class="footerNav">
    <li>プライバシー</li>
    <li>利用規約</li>
    <li>ヘルプ</li>
    <li>お問い合わせ</li>
  </ul>
  <small>&copy; 2022 HAL自動車販売 . ALL Rights Reserved</small>
</footer>
<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/js/uikit-icons.min.js"></script>
</body>
</html>
