<footer>
  <p>HAL車両販売</p>
  <ul>
    <li>プライバシー</li>
    <li>利用規約</li>
    <li>ヘルプ</li>
    <li>お問い合わせ</li>
  </ul>
  <small>&copy; 2022 HAL自動車販売 . ALL Rights Reserved </small>
</footer>
<!-- js 共通処理 -->
<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>
