<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta chatset="utf-8">
    <meta name="author" content="board">
    <title>HALオークション</title>
    <link rel="stylesheet" href="/css/mvp.min.css">
    <link rel="stylesheet" href="/css/header.css">
  </head>
  <body>
    <header>
      <h2>HAL車両販売</h2>
      <nav>
        <a href="/regist">
          <button>会員登録</button>
        </a>
        <a href="/login">
          <button>ログイン</button>
        </a>
      </nav>
    </header>
    <script type="text/javascript" src="public/header.js"></script>
