<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="board">
    <title>HALオークション</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="../../css/mvp.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/css/uikit.min.css" />
  </head>
  <body>
    <header>
      <div>
        <h2 class="headerH2">HAL車両販売</h2>
      </div>
      <nav>
        <a href="/signup">
          <button class="headerbutton">会員登録</button>
        </a>
        <a href="/login">
          <button class="headerbutton">ログイン</button>
        </a>
      </nav>
    </header>
    <hr class="headerHr" />
