<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta chatset="utf-8">
    <meta name="author" content="board">
    <title>HALオークション</title>
    <link rel="stylesheet" href="/css/mvp.min.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/breadcrumb.css">
  </head>
  <body>
    <header>
      <h2><a href="/">HAL車両販売</a></h2>
      <nav>
        <!-- ログイン状態によってボタン名と遷移先を切り替える -->
        <a href="/regist">
          <button>会員登録</button>
        </a>
        <a href="/login">
          <button>ログイン</button>
        </a>
        <a href="/logout">
          <button>ログアウト</button>
        </a>
        <a href="/auction">
          <button>オークション</button>
        </a>
      </nav>
    </header>
    <script type="text/javascript" src="/js/partials/header.js"></script>
