<%- include('partials/header.ejs'); %> <h1>WebSocket auctionroom2</h1>
<form id="auctionForm">
  <input id="auction-input" type="text" />
  <input type="submit" class="button" value="Send" />
</form>
<ul id="output"></ul>
<script src="/socket.io/socket.io.js"></script>
<script src="js/javascript6-6-3.js"></script> <%- include('partials/footer.ejs'); %>
