<%- include('partials/header.ejs'); %> 
<h1>オークションスケジュール確認(商品一覧確認)</h1> 
<% for (let i= 1; i <= 3; i++) { %> 
  <p><a href=<%= `/bidding/${i}` %> >bidding<%= i %> temp </a></p>
<% } %>
<hr />
<form id="auctionForm">
  <input id="auction-input1" type="text" />
  <input id="auction-input2" type="text" />
  <input type="submit" class="button" value="Send" />
</form>
<ul id="output"></ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/publicIndex.js"></script> 
<%- include('partials/footer.ejs'); %>
