<section class="todoapp">
  <nav class="nav">
    <ul>
      <li class="user"><%= user.user_login_id %></li>
      <li>
        <form action="/logout" method="post">
          <button class="logout" type="submit">Sign out</button>
        </form>
      </li>
    </ul>
  </nav>
</section>
