<%- include('partials/header.ejs'); %>
<nav class="nav">
  <ul>
    <li class="user"><%= user.user_login_id %></li>
    <li>
      <form action="/logout" method="post">
        <button class="logout" type="submit">Sign out</button>
      </form>
    </li>
  </ul>
</nav>
<h1>オークションスケジュール確認(商品一覧確認)</h1>
<script>
  const info = JSON.parse('<%- JSON.stringify(ejsRender) %>');
  console.log(info);
</script>
<script src="/socket.io/socket.io.js"></script>
<%- include('partials/footer.ejs'); %>
