<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="./css/login.css" />
<div class="uk-container uk-container-expand login-component">
  <h1 class="visually-hidden">ログイン</h1>
  <% if (hasMessages) { %>
  <div class="messages">
    <% messages.forEach(function(message) { %>
    <p><%= message %></p>
    <% }); %>
  </div>
  <% } %>
  <form action="/login/password" method="post">
    <div>
      <label for="user_login_id">ログインID</label>
      <input id="user_login_id" name="user_login_id" type="text" autocomplete="username" required />
    </div>
    <div>
      <label for="password">パスワード</label>
      <input
        id="password"
        name="password"
        type="password"
        autocomplete="current-password"
        required
      />
    </div>
    <div class="loginButton">
      <button
        type="submit"
        style="
        width: 100%;
    "
      >
        ログイン
      </button>
    </div>
    <p class="help">
      アカウントを持っていない方は <a href="/signup">アカウント作成<span uk-icon="user"></span></a>
    </p>
    <hr />
    <div class="uk-flex-center@s">
      <a class="google" href="/login/federated/google"
        ><span class="uk-margin-small-right" uk-icon="icon: google"></span> Sign in with Google</a
      >
      <a class="twitter" href="/auth/twitter"
        ><span class="uk-margin-small-right" uk-icon="icon: twitter"></span>Sign in with Twitter</a
      >
    </div>
  </form>
</div>
<%- include('partials/footer.ejs'); %>
