<%- include('partials/header.ejs'); %>

<section class="prompt">
  <h1>Sign in</h1>
  <a class="button google" href="/login/federated/google">Sign in with Google</a>
  <a class="button google" href="/auth/twitter">Sign in with Twitter</a>
  <% if (hasMessages) { %>
  <section class="messages">
    <% messages.forEach(function(message) { %>
    <p><%= message %></p>
    <% }); %>
  </section>
  <% } %>
  <form action="/login/password" method="post">
    <section>
      <label for="user_login_id">user_login_id</label>
      <input id="user_login_id" name="user_login_id" type="text" autocomplete="username" required />
    </section>
    <section>
      <label for="current_password">Password</label>
      <input
        id="current_password"
        name="password"
        type="password"
        autocomplete="current-password"
        required
      />
    </section>
    <button type="submit">Sign in</button>
  </form>
  <hr />
  <p class="help">Don't have an account? <a href="/signup">Sign up</a></p>
</section>

<%- include('partials/footer.ejs'); %>
