<%- include('partials/header.ejs'); %>
<main>
  <link rel="stylesheet" href="/css/login.css" />
  <h2>Sign in to your account</h2>
  <ul>
    <li>Sign In with</li>
    <li>Google</li>
    <li>Twitter</li>
  </ul>
  <p>Or Continue with</p>
  <form action="#" method="POST"></form>
</main>
<script type="text/javascript" src="public/top.js"></script>
<%- include('partials/footer.ejs'); %>
