<%- include('partials/loginheader.ejs'); %>
<!-- <link rel="stylesheet" href="/css/mypage.css" /> -->
<main>
  <h1 class="visually-hidden">マイページ</h1>
  <%- include('partials/breadcrumb.ejs'); %>
  <article>
    <h2>マイ・オークション管理</h2>
    <div id="mypageList">
      <section>
        <h3>入札一覧</h3>
        <ul>
          <li>入札したもの</li>
        </ul>
      </section>
      <section>
        <h3>落札一覧</h3>
        <ul>
          <li>落札したもの</li>
        </ul>
      </section>
    </div>
    <section>
      <h3>アカウント削除・変更</h3>
      <ul id="acountSettingList">
        <li><button>アカウント変更</button></li>
        <li><button>退会登録</button></li>
      </ul>
    </section>
  </article>
  <!-- 機能一覧表示 -->
</main>
<script>
  const info = JSON.parse('<%- JSON.stringify(ejsRender) %>');
  console.log(info);
</script>
<!-- <script type="text/javascript" src="/js/mypage/mypage.js"></script> -->
<%- include('partials/footer.ejs'); %>
