<%- include('partials/header.ejs'); %>
<link rel="stylesheet" href="./css/login.css" />
<div class="uk-container uk-container-expand login-component">
  <h1 class="visually-hidden">新規登録</h1>
  <% if (hasMessages) { %>
  <div class="messages">
    <% messages.forEach(function(message) { %>
    <p><%= message %></p>
    <% }); %>
  </div>
  <% } %>
  <form action="/signup" method="post">
    <section>
      <label for="user-login-id">ログインID</label>
      <input
        id="user-login-id"
        name="user_login_id"
        type="text"
        autocomplete="username"
        maxlength="16"
        required
      />
    </section>
    <section>
      <label for="new-password">パスワード</label>
      <input
        id="new-password"
        name="password"
        type="password"
        autocomplete="current-password"
        required
      />
    </section>
    <button type="submit" style="width: 100%;"></button>
  </form>
  <hr />
  <p class="help">Already have an account? <a href="/login">Sign in</a></p>
</div>
<%- include('partials/footer.ejs'); %>
