<%- include('partials/header.ejs'); %>
<main>
  <link rel="stylesheet" href="/css/top.css" />
  <h1 class="visually-hidden"></h1>
  <p>オークション会場から仕入れた車両をらくらく検索</p>
  <p>お問い合わせはこちら TEL 000-0000-0000</p>
  <button>車両を検索する</button>
</main>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios-jsonp/dist/index.min.js"></script>
<script type="text/javascript" src="/js/top/top.js"></script>
<%- include('partials/footer.ejs'); %>
