<%- include('partials/header.ejs'); %>
<main>
  <link rel="stylesheet" href="/css/top.css" />
  <h1 class="visually-hidden"></h1>
  <p>オークション会場から仕入れた車両をらくらく検索</p>
  <p>お問い合わせはこちら TEL <%= tel %></p>
  <button>車両を検索する</button>
</main>
<script type="text/javascript" src="public/top.js"></script>
<%- include('partials/footer.ejs'); %>
