<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="board">
    <title>HALオークション管理者画面</title>
    <link rel="stylesheet" href="/css/mvp.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.15/dist/css/uikit.min.css" />
  </head>
  <body>
    <header>
      <div>
        <h2 class="headerH2">HALオークション管理者画面</h2>
      </div>
      <%- include('./adminBreadcrumb.ejs'); %>
    </header>
    <hr class="headerHr" />
