<nav aria-label="Breadcrumb">
  <ul class="uk-breadcrumb">
    <li><a href="/admin/carStocks">車両管理</a></li>
    <li><a href="/admin/product/prepare/1">出品管理</a></li>
    <li><a href="/admin/sales/1">売上管理</a></li>
    <li><a href="/admin/users/1">会員管理</a></li>
  </ul>
</nav>
